# ===============================
# HuggingFace / Models / Cache
# ===============================
models/
app/models/
*.safetensors
*.bin
*.pt
.cache/
**/.cache/
**/huggingface/

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ===============================
# Virtual env
# ===============================
venv/
.env

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
